<form id="cart" name="cart" method="post" action="{% url 'cart:index' %}">
  {% csrf_token %}
  {{ formset.management_form }}
  {% for form in formset %}
    {{ form.id }}
  {% endfor %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for form in formset %}
      <tr class="cart-item
                {% if not form.instance.in_stock %}out-of-stock{% endif %}
                {% if form.instance.off_shelf %}off-shelf{% endif %}"
          data-id="{{ product.instance.pk }}"
          data-url="{% url 'cart_api:item' form.instance.product.pk %}"
          data-price="{{ form.instance.price }}" >
        <td><a href="{% url 'product:detail' form.instance.product.pk %}"
            title="{{ form.instance.name }} - Product Detail">{{ form.instance.name }}</a></td>
        <td><span class="value">${{ form.instance.price }}</span></td>
        <td class="item-quantity">{{ form.quantity }}</td>
        <td class="item-total-price">$<span class="value">{{ form.instance.total_price }}</span></td>
        <td class="delete-action">{{ form.DELETE }}</td>
      </tr>
      {% if form.errors  %}
      <tr><td class="errors" colspan="4">
        <ul class="errorlist">
          {% for name, errors in form.errors.items %}
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </td></tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</form>

<script>
  // TODO: considering move scripts to a standalone file.
  var submitTimeout;
  $('#cart').find('.item-quantity').children('input').each(function () {
    $(this).change(function () {
      var $item = $(this).parents('.cart-item');
      var quantity = this.value;
      var price = $item.data('price');
      var url = $item.data('url');
      $item.find('.item-total-price').children('.value').text(quantity * price);

      // Submit new quantity in several seconds.
      // Avoid submit too frequently when user click continuously.
      if (submitTimeout != undefined) {
        clearTimeout(submitTimeout);
      }
      submitTimeout = setTimeout(function () {
        submitTimeout = undefined;
        $.ajax({
          url:  url,
          type: 'PUT',
          data: {'quantity': quantity}
        });
      }, 800);
    });
  });

  // TODO: Fix total price inconsistent after page back by user.

  // TODO: Update total price of cart.

  // TODO: Delete (and restore?) action.
</script>