{% extends "store/base.html" %}
{% load bootstrap3 %}

{% block title %}Create Vendor Account{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <h1>Create Vendor Account</h1>

      <p>You haven't create vendor account, please do it right now.<br>
      Be carefully, once this account is created, you cannot change it or create another one.</p>

      {% if form %}
      <form method="POST" action="." id="login-form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% url 'admin:overview' as overview %}

        {% buttons %}
          <button type="submit" class="btn btn-primary">Create</button>
        {% endbuttons  %}
      </form>
      {% else %}
        <p>Sorry, the vendor account has already been registered.
        You cannot register again.</p>

        <p>Please <a href="{% url 'admin:account:login' %}">log in</a>.</p>

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
