body { margin-top: 2em; }

footer { color: darkgray; text-align: center; margin-top: 3em; }
footer hr { margin: 1em 2em; }

.row { margin-bottom: 20px; }

.placeholder { margin: 0; background: whitesmoke; text-align: center; color: lightgray; }

/* Alert messages */
#alert-messages { position: absolute; top: 7em; z-index: 50; width: 100%; text-align: center;}
#alert-messages > div { display: inline-block; }

/* Categories */
#category-list .thumbnail { width: 300px; margin: 1em auto; }
#category-list .placeholder { width: 290px; height: 193px; padding-top: 85px; font-size: 2em; }

/* Product list */
#product-list { list-style: none; padding-left: 0; margin-top: 2em; }
#product-list hr { clear: left; }
#product-list li:last-child hr { visibility: hidden; }

#product-list .col-thumbnail { text-align: center; }
#product-list .thumbnail { display: inline-block; }
#product-list .placeholder { width: 96px; height: 96px; padding-top: 40px; }

#product-list h3 { display: inline-block; margin: 0 0 5px; padding-left: 15px; }
#product-list .price { font-size: 1.25em; color: #b11904; }
#product-list .rating { font-size: 1.1em; cursor: help; color: #555; }

/* Product detail */
.category-link { font-size: 0.5em; color: lightgray; vertical-align: middle; }
#carousel-thumbnail .item img { width: 100%; }
#carousel-thumbnail .carousel-caption { font-size: 1.5em;  }
/* TODO: can't see caption clearly */
/* TODO: white shadow */
.showcase { font-size: 1.25em; background: #f8f8f8; padding: 1em; border-radius: 5px;
        overflow: auto; }
.showcase .item-name { color: gray; display: inline-block; width: 4em; }
.showcase .price { font-size: 1.25em; color: #b11904; }
.showcase .in-stock { color: darkgreen; }
.showcase .out-of-stock { color: darkred; }
.showcase button.buy { margin-left: 1em; }
.showcase small { color: gray; }

.rating.point-1 { color: darkred; }
.rating.point-2 { color: darkred; }
.rating.point-3 {  }
.rating.point-4 { color: darkgreen; }
.rating.point-5 { color: darkgreen; }

form#rating ul { list-style-type: none; }
form#rating .stars { color: gray; margin-left: 2em;}

/* Shopping cart */
#cart input[type="number"] { width: 4em;   }

#cart .action-delete,
  #cart .action-restore { display: inline-block;  width: 5.5em; }
#cart .cart-item .action-restore { display: none; }
#cart .field-delete { display: none; }

#cart .cart-item.deleted { opacity: 0.2; }
#cart .cart-item.deleted .action-delete { display: none; }
#cart .cart-item.deleted .action-restore { display: inline-block; }
