body { margin-top: 2em; }

footer { color: darkgray; text-align: center; margin-top: 3em; }
footer hr { margin: 1em 2em; }

.row { margin-bottom: 20px; }

.placeholder { margin: 0; background: whitesmoke; text-align: center; color: lightgray; }

/* Alert messages */
#alert-messages { position: absolute; top: 7em; z-index: 50; width: 100%; text-align: center;}
#alert-messages > div { display: inline-block; }

/* Categories */
#category-list .thumbnail { width: 300px; margin: 1em auto; }
#category-list .placeholder { width: 290px; height: 193px; padding-top: 85px; font-size: 2em; }

/* Common list (for product and order) */
.common-list { list-style: none; padding-left: 0; margin-top: 2em; }
.common-list hr { clear: left; }
.common-list li:last-child hr { visibility: hidden; }
.common-list .col-thumbnail { text-align: center; }
.common-list .thumbnail { display: inline-block; }
.common-list .placeholder { width: 96px; height: 96px; padding-top: 40px; }

/* Product list */
#product-list h3 { display: inline-block; margin: 0 0 5px; padding-left: 15px; }
#product-list .price { font-size: 1.25em; color: #b11904; }
#product-list .rating { font-size: 1.1em; cursor: help; color: #555; }

/* Purchase order list */
#order-list .item-name { display: inline-block; width: 8em; color: gray; }
#order-list .items > p > span:last-child { font-size: 1.2em;  }

/* Product detail */
.category-link { font-size: 0.5em; color: lightgray; vertical-align: middle; }
#carousel-thumbnail .item img { width: 100%; }
#carousel-thumbnail .carousel-caption { font-size: 1.5em;  }
/* TODO: can't see caption clearly */
/* TODO: white shadow */
.showcase { font-size: 1.25em; background: #f8f8f8; padding: 1em; border-radius: 5px;
        overflow: auto; }
.showcase .item-name { color: gray; display: inline-block; width: 4em; }
.showcase .price { font-size: 1.25em; color: #b11904; }
.showcase .in-stock { color: darkgreen; }
.showcase .out-of-stock { color: darkred; }
.showcase button.buy { margin-left: 1em; }
.showcase small { color: gray; }

.rating.point-1 { color: darkred; }
.rating.point-2 { color: darkred; }
.rating.point-3 {  }
.rating.point-4 { color: darkgreen; }
.rating.point-5 { color: darkgreen; }

form#rating ul { list-style-type: none; }
form#rating .stars { color: gray; margin-left: 2em;}

/* Order detail */
#order-status-box, #order-recipient-box { font-size: 1.2em; }
#order-status-box .item-name,
#order-recipient-box .item-name { display: inline-block; width: 7em; color: gray; }
#order-status-box button { margin-top: 1em; }
#order-status-box button { margin: 1em 0; }

#order-items p { font-size: 1.2em; color: gray; }
#order-items .price { font-size: 1.2em; color: darkred; }

ul#order-messages { margin-top: 1.5em; }
#order-messages .role { display: inline-block; width: 5em; }
#order-messages .content { border-left: solid lightgray 1px; padding-left: 1em;
    margin: 0 0 2em 1em; }
.row.standalone-title { margin-bottom: 0; }

/* Shopping cart */
#cart input[type="number"] { width: 4em;   }

#cart .action-delete,
  #cart .action-restore { display: inline-block;  width: 5.5em; }
#cart .cart-item .action-restore { display: none; }
#cart .field-delete { display: none; }

#cart .cart-item.deleted { opacity: 0.2; }
#cart .cart-item.deleted .action-delete { display: none; }
#cart .cart-item.deleted .action-restore { display: inline-block; }
