{% extends "store/front-base.html" %}
{% block title %}Categories{% endblock %}

{% block head %}
  <style>
  article p { font-size: 1.2em; color: #333; }

  </style>
{% endblock %}

{% block main %}

  <h1 class="page-header">About</h1>
  <article class="row">
    <div class="col-md-8">
      <h2>ISI</h2>
      <p>ISI stands for <em>Information System Implementation</em>, which is the title
      of a third-year course in Macao Polytechnic Institute.</p>
      <p>In this course, we need to develop an application, a online shopping website
      in this year, and produce written reports.</p>

      <h2>ISI Store</h2>
      <p>This website, ISI Store, is our outcome in this course.</p>
      <p>In short, it's a shopping website which sell routers.</p>
      <p>The complete source code can be found at
        <a href="https://github.com/sorz/isi" title="sorz/isi">GitHub</a>.
      </p>
    </div>
  </article>

{% endblock %}