{% extends "store/front-base.html" %}
{% load bootstrap3 %}
{% block title %}Login{% endblock %}

{% block main %}
  <h1>Login</h1>

  <div class="row">
    <form method="post" action="." class="col-md-8 col-lg-5 col-sm-12">
      {% csrf_token %}
      {% bootstrap_form form %}

      {# Avoid redirect to those page after login. #}
      {% if next == '/account/logout/' or next == '/account/login/' or next == '/account/register/'  %}
         <input type="hidden" name="next" value="/" />
      {% else %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}

      {% buttons %}
        <button type="submit" class="btn btn-primary">Log in</button>
      {% endbuttons  %}
    </form>
  </div>

  <p>Need a account? <a href="{% url 'account:register' %}">Register now</a>.</p>

{% endblock %}