{% extends "store/front-base.html" %}
{% load bootstrap3 %}
{% block title %}Login{% endblock %}

{% block main %}
  <h1 class="page-header">Login</h1>

  <div class="row">
    <form method="post" action="." class="col-md-6 col-lg-4 col-lg-offset-1">
      {% csrf_token %}
      {% bootstrap_form form %}

      {# Avoid redirect to those page after login. #}
      {% if next == '/account/logout/' or next == '/account/login/' or next == '/account/register/'  %}
         <input type="hidden" name="next" value="/" />
      {% else %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}

      {% buttons %}
        <button type="submit" class="btn btn-primary pull-right btn-lg">Log in</button>
      {% endbuttons  %}
    </form>

    <div class="col-md-6 col-lg-6">
      <div class="tip-box">
        <p>Welcome back.</p>
        <p>
          After logged in, you are able to enjoy all excellent service offered by us.
          Including shopping cart, orders tracking and management and so on.
        </p>
        <p class="strong">Need a account?
          <a href="{% url 'account:register' %}">Register now!</a>
        </p>
      </div>
    </div>

  </div><!--/.row-->

{% endblock %}