{% extends "store/front-base.html" %}
{% load bootstrap3 %}
{% block title %}Update Profile{% endblock %}

{% block main %}
  <h1 class="page-header">Update Profile</h1>

  <div class="row">
    <form method="post" action="." class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-12">
      {% csrf_token %}
      {% bootstrap_form user_form %}
      {% bootstrap_form profile_form %}

      {% buttons %}
        <button type="submit" class="btn btn-primary pull-right">Update</button>
      {% endbuttons  %}
    </form>
  </div>

{% endblock %}