{% extends "admin/admin-base.html" %}
{% block title %}{{ title }} - Admin{% endblock %}

{% block main %}
  <h1 class="page-header">{{ title }}</h1>

  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" name="filter" method="GET" action=".">
        <label for="filter-start">From</label>
        <input class="form-control" id="filter-start" name="start"
               placeholder="YYYY-mm-dd" type="date" value="{{ start }}"  autocomplete="on">
        <label for="filter-end">to</label>
        <input class="form-control" id="filter-end" name="end"
               placeholder="YYYY-mm-dd" type="date" value="{{ end }}"  autocomplete="on">
        <input type="hidden" value="{{ page }}" name="page">

        <button class="btn btn-default" type="submit">Filter</button>
        {% if start or end %}
          <button id="filter-reset" class="btn btn-default">Clear</button>
        {% endif %}
      </form>
      <script>
        $(document).ready(function () {
          $('#filter-reset').click(function () {
            $('#filter-start').val('');
            $('#filter-end').val('');
            $('form[name="filter]').submit();
          });
        });
      </script>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            {% block thead %}{% endblock %}
          </tr>
        </thead>
        <tbody>
          {% block tbody %}{% endblock %}
        </tbody>
      </table>

      {% include 'store/common-pagination.html' with list=orders %}
    </div>
  </div>

{% endblock %}