{% extends "order_admin/base_report.html" %}


{% block thead %}
  <th>#</th>
  <th>Purchase date</th>
  <th>Customer name</th>
  <th>Total amount</th>
  <th>Cancel date</th>
  <th>Cancelled by</th>
  <th>Elapsed days</th>
{% endblock %}


{% block tbody %}
  {% for order in orders %}
    <tr>
      <th><a href="{% url 'admin:order:detail' order.pk %}">{{ order.pk }}</a></th>
      <td>{{ order.purchase_date }}</td>
      <td>{{ order.owner.get_full_name }}
      ({{ order.owner }})</td>
      <td>${{ order.total_price|floatformat:2 }}</td>
      <td>{{ order.close_date }}</td>
      <td>TODO{# TODO: cancelled by #}</td>
      <td>{{ order.elapsed_days }}</td>
    </tr>
  {% endfor %}
{% endblock %}
