{% extends "store/base.html" %}
{% block title %}New Order{% endblock %}

{% block body %}
  <h1>Checkout</h1>

  <h2>Order Detail</h2>
  <p>(list of products)</p>
  <p>Total price: ${{ cart.total_price }}</p>

  <p><a href="{% url 'cart:index' %}"
     title="Shopping Cart">Back to shopping cart</a>
  </p>

  <h2>Shipping Information</h2>
  <p>(name, address, postcode form)</p>

  <form name="order" method="post" action="{% url 'order:create' %}">
    {% csrf_token %}
    {{ order_form }}
    <button type="submit">Submit</button>
  </form>


{% endblock %}