{% extends "store/front-base.html" %}
{% block title %}Purchase detail{% endblock %}

{% block main %}
  <h1>Purchase Detail</h1>

  <p>Status: {{ order.get_status_display }}</p>
  <p>Purchase Date: {{ order.purchase_date }}</p>
  <p>Shipment Date: {{ order.shipment_date }}</p>

  {% if order.status in 'HP' %}
    <button data-url="{% url 'order_api:order' order.pk %}"
            class="cancel-order">Cancel</button>
  {% elif order.status == 'S' %}
    <button data-url="{% url 'order_api:order' order.pk %}"
            class="confirm-order">Received Confirm</button>
  {% endif %}

  <h2>Delivery Information</h2>
  <p>Name: {{ order.recipient_name }}</p>
  <p>Address: {{ order.recipient_address }}</p>
  <p>Address 2: {{ order.recipient_address_2 }}</p>
  <p>Postcode: {{ order.recipient_postcode }}</p>

  <h2>Products</h2>
  {% include 'order/item-list.html' with items=order.orderitem_set.all %}
  <p>Total: ${{ order.total_price }}</p>

  <h2>Messages</h2>
  <form name="message" method="post" action=".">
    {% csrf_token %}
    {{ message_form }}
    <button type="submit">Submit</button>
  </form>

  <ul>
    {% for message in order_messages %}
      <li>
        <h3>{{ message.writer_role }}</h3>
        <p>{{ message.create_date }}</p>
        <p>{{ message.content }}</p>
      </li>
    {% endfor %}
  </ul>

  <script>
  // TODO: put into separated js file.

  $('button.cancel-order').click(function () {
    if (!confirm('This order will be canceled permanently.')) {
      return;
    }
    var url = $(this).data('url');
    $.ajax({
      url: url,
      type: 'PUT',
      data: {'status': 'C'}
    }).done(function () {
      location.reload();
    });
  });

  $('button.confirm-order').click(function () {
    var url = $(this).data('url');
    $.ajax({
      url: url,
      type: 'PUT',
      data: {'status': 'R'}
    }).done(function () {
      window.location.href = 'done/';
    });
  });
  </script>

{% endblock %}