<h1 class="page-header">Purchase Detail</h1>

<div class="row">
  <div id="order-status-box" class="col-md-6 col-lg-5">
    <p><span class="item-name">Status</span>{{ order.get_status_display }}</p>
    <p><span class="item-name">Purchase on</span>{{ order.purchase_date }}</p>
    {% if order.shipment_date %}
    <p><span class="item-name">Shipment on</span>{{ order.shipment_date }}</p>
    {% endif %}


    {% if vendor %}
      {% if order.status == 'P' %}{# Pending #}
      <button data-url="{% url 'order_api:order' order.pk %}"
              class="ship-order btn btn-block btn-primary">Ship</button>
      <button data-url="{% url 'order_api:order' order.pk %}"
              class="hold-order btn btn-block btn-warning">Hold</button>
      {% elif order.status == 'H' %}{# Holding #}
      <button data-url="{% url 'order_api:order' order.pk %}"
              class="ship-order btn btn-block btn-primary">Ship</button>
      {% endif %}
    {% else %}
      {% if order.status == 'S' and not vendor %} {# Shiping #}
        <button data-url="{% url 'order_api:order' order.pk %}"
                class="confirm-order btn btn-block btn-primary">Received Confirm</button>
      {% endif %}
    {% endif %}

    {% if order.status in 'PH' %}
      <button data-url="{% url 'order_api:order' order.pk %}"
          class="cancel-order btn btn-block btn-danger">Cancel</button>
    {% endif %}
  </div>

  <div id="order-recipient-box" class="col-md-6 col-lg-7">
    <p><span class="item-name">Order ID</span>#{{ order.pk }}</p>
    <p><span class="item-name">Recipient</span>{{ order.recipient_name }}</p>
    <p><span class="item-name">Address</span>{{ order.recipient_address }}</p>
    {% if order.recipient_address_2 %}
    <p><span class="item-name">Address 2</span>{{ order.recipient_address_2 }}</p>
    {% endif %}
    {% if order.recipient_postcode %}
    <p><span class="item-name">Postcode</span>{{ order.recipient_postcode }}</p>
    {% endif %}
  </div>

</div>



<div class="row">
  <div id="order-items" class="col-md-12">
    <h2>Products</h2>
    {% include 'order/item-list.html' with items=order.orderitem_set.all %}
    <p class="pull-right">Total amount: <span class="price">${{ order.total_price }}</span></p>
  </div>

</div>

<div class="row standalone-title">
  <div class="col-md-12">
    <h2>Messages</h2>
  </div>
</div>

<div class="row">

  <div class="col-md-5">
    <form name="message" method="post" action=".">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_content">Context</label>
        <textarea id="id_content" class="form-control" rows="3" name="content"></textarea>
      </div>
      <button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-envelope"></span>
        Send</button>
    </form>
  </div>

  <div class="col-md-7">
    <ul id="order-messages" class="common-list">
      {% for message in order_messages %}
        <li>
          <h4>
            <span class="role">{{ message.writer_role }}</span>
            <small>
              <span class="glyphicon glyphicon-time"></span>
              {{ message.create_datetime_zone_aware }}
            </small>
          </h4>
          <p class="content">{{ message.content }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>


<script>
// TODO: put into separated js file.

function set_status(url, status, callback) {
  $.ajax({
    url: url,
    type: 'PUT',
    data: {'status': status}
  }).done(function () {
    if (callback == undefined) {
      location.reload();
    } else {
      callback();
    }
  });
}

$('button.cancel-order').click(function () {
  if (!confirm('This order will be canceled permanently.')) {
    return;
  }
  set_status($(this).data('url'), 'C');
});

$('button.confirm-order').click(function () {
  if (!confirm("This order will be marked as finished. " +
      "If you haven't received all items, please click cancel.")) {
    return;
  }
  set_status($(this).data('url'), 'R', function () {
    window.location.href = 'done/';
  });
});

$('button.hold-order').click(function () {
  set_status($(this).data('url'), 'H');
});

$('button.ship-order').click(function () {
  set_status($(this).data('url'), 'S');
});

</script>
