{% extends "store/front-base.html" %}
{% block title %}{{ category }} - Category{% endblock %}

{% block main %}

  <a href="{% url 'category:index' %}">All categories</a>
  <h1>{{ category }}</h1>
  <p>{{ category.description }}</p>

  <ul>
    {% for product in products %}
      <li><a href="{% url 'product:detail' product.id %}">{{ product.name }}</a>
        - ${{ product.price }}</li>
    {% endfor %}
  </ul>

  {% include 'store/common-pagination.html' with list=products %}

{% endblock %}