{% extends "store/front-base.html" %}
{% load thumbnail %}
{% block title %}{{ category }} - Category{% endblock %}

{% block main %}

  <a href="{% url 'category:index' %}">All categories</a>
  <h1>{{ category }}</h1>
  <p>{{ category.description }}</p>

  <p>Sort:
    {% if not sort %}
      default,
    {% else %}
      <a href="?filter={{ filter }}&page={{ products.number }}">default</a>,
    {% endif %}

    {% if sort == 'price' %}
      price,
    {% else %}
      <a href="?sort=price&filter={{ filter }}&page={{ products.number }}">price</a>,
    {% endif %}

    {% if sort == '-price' %}
      price (reverse),
    {% else %}
      <a href="?sort=-price&filter={{ filter }}&page={{ products.number }}">price (reverse)</a>,
    {% endif %}

    {% if sort == '-rating' %}
      rating,
    {% else %}
      <a href="?sort=-rating&filter={{ filter }}&page={{ products.number }}">rating</a>.
    {% endif %}
  </p>

  <ul>
    {% for product in products %}
      <li>
        {% thumbnail product.get_image "64x64" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          <br>
        {% endthumbnail %}
        <a href="{% url 'product:detail' product.id %}">{{ product.name }}</a>
        - ${{ product.price }}
        {% if product.average_rating %}
          - {{ product.average_rating }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% include 'store/common-pagination.html' with list=products %}

{% endblock %}