{% load thumbnail %}

<div class="row">

  <div class="col-md-12">
    <form action="." method="GET" name="filter" class="form-inline">
      <input name="filter" type="search" class="form-control" autocomplete="on"
             placeholder="Product name" value="{{ filter }}">
      <input type="hidden" name="sort" value="{{ sort }}">
      <input type="hidden" name="page" value="{{ products.number }}">
      <button type="submit" class="btn btn-default">Filter</button>
      {% if filter %}
        <button id="filter-reset" class="btn btn-default">Clear</button>
      {% endif %}
    </form>

    <script>
      $(document).ready(function () {
        $('#filter-reset').click(function () {
          $('input[name="filter"]').val('');
          $('form[name="filter]').submit();
        });
      });
    </script>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="btn-group" role="group" >
      <a role="button" class="btn btn-default {% if not sort %}active{% endif %}"
          href="?filter={{ filter }}&page={{ products.number }}"><span class="glyphicon
          glyphicon-sort"></span> Default</a>
      <a role="button" class="btn btn-default {% if sort == 'price' %}active{% endif %}"
          href="?filter={{ filter }}&sort=price&page={{ products.number }}"><span class="glyphicon
          glyphicon-sort-by-order"></span> Price</a>
      <a role="button" class="btn btn-default {% if sort == '-price' %}active{% endif %}"
          href="?filter={{ filter }}&sort=-price&page={{ products.number }}"><span class="glyphicon
          glyphicon-sort-by-order-alt"></span> Price</a>
      <a role="button" class="btn btn-default {% if sort == '-average_rating' %}active{% endif %}"
          href="?filter={{ filter }}&sort=-average_rating&page={{ products.number }}"><span class="glyphicon
          glyphicon-sort-by-attributes-alt"></span> Rating</a>
      {% if vendor %}
      <a role="button" class="btn btn-default {% if sort == '-sale_quantity' %}active{% endif %}"
          href="?filter={{ filter }}&sort=-sale_quantity&page={{ products.number }}"><span class="glyphicon
          glyphicon-sort-by-attributes-alt"></span> Sales quantity</a>
      <a role="button" class="btn btn-default {% if sort == '-sale_amount' %}active{% endif %}"
          href="?filter={{ filter }}&sort=-sale_amount&page={{ products.number }}"><span class="glyphicon
          glyphicon-sort-by-attributes-alt"></span> Sales amount</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul id="product-list" class="common-list">
      {% for product in products %}
        <li class="row">
          {% include list_item %}
          <hr>
        </li>
      {% empty %}
        (no related product)
      {% endfor %}
    </ul>
  </div>
</div>

{% include 'store/common-pagination.html' with list=products %}
