{% load thumbnail %}

<div class="col-thumbnail col-md-2">
  <div class="thumbnail">
  {% thumbnail product.get_image "96x96" crop="center" as im %}
    <img src="{{ im.url }}"
       width="{{ im.width }}" height="{{ im.height }}">
  {% empty %}
    <div class="placeholder">
      <span>No Image</span>
    </div>
  {% endthumbnail %}
  </div>
</div>

<div class="col-md-10">
  <a href="{% url 'product:detail' product.id %}"><h3>{{ product.name }}</h3></a>

  <div class="product-detail row-fluid">
    <div class="col-md-3">
      <p><span class="price">${{ product.price }}</span>
        {% if not product.in_stock %}
          <span class="label label-warning">Out of stock</span>
        {% endif %}
      </p>
      {% if product.average_rating %}
        <p><span title="Rated by {{ product.rating_set.count }} customers"
            class="rating">{{ product.get_average_rating_display }}
          <sup>{{ product.average_rating }}</sup></span></p>
      {% endif %}
    </div>
    <div class="col-md-2 col-md-offset-7">
      {% if user.is_authenticated %}
      <button class="btn btn-default btn-block buy"
          data-link="{% url 'cart_api:item' product.id %}">Buy now</button>
      {% else %}
      <a class="btn btn-default btn-block" role="button"
          href="{% url 'account:login' %}?next={{ request.path }}">Buy now</a>
      {% endif %}

      <a class="btn btn-default btn-block" role="button"
         href="{% url 'product:detail' product.id %}">View detail</a>
    </div>
  </div>

</div>
