{# Used by both creation and modifation. #}
{# If {{ product }} exists, it's a modifation, otherwise it's creation. #}
{% extends "admin/admin-base.html" %}
{% load bootstrap3 %}
{% block title %}{% firstof product "Add product" %} - Admin{% endblock %}

{% block main %}

  <h1>{% firstof product "Add product" %}</h1>

  <div class="row">
    <form id="product-form" method="post" action="." enctype="multipart/form-data">
      {% csrf_token %}
      <div class="col-md-6 col-lg-5 col-sm-12">
        <h2 class="sub-header">Information</h2>
        {% bootstrap_form product_form %}
      </div>

      <div class="col-md-6 col-lg-offset-1 col-lg-5 col-sm-12">
        <h2 class="sub-header">Photos</h2>
        {% bootstrap_formset photo_formset %}
      </div>
    </form>
  </div><!--/.row -->

  <div class="row">
    <div class="col-md-12">
      {% buttons %}
        {% if product %}
        <button type="submit" form="product-form"
                class="btn btn-primary">Save</button>
        {% else %}
        <button type="submit" form="product-form"
                class="btn btn-primary">Save &amp; add another</button>
        {% endif %}
      {% endbuttons  %}
    </div>
  </div>

{% endblock %}