{% extends "store/front-base.html" %}
{% load thumbnail %}

{% block title %}{{ product }} - Product{% endblock %}

{% block main %}

  <h1>{{ product.name }}</h1>

  <p>Category:
    <a href="{% url 'category:detail' product.category.id %}">
        {{ product.category }}</a>
  </p>

  <p>Price: {{ product.price }}</p>

  <p>Status:
  {% if product.in_stock %}
    In stock
  {% else %}
    Out of stack
  {% endif %}
  </p>

  <button class="buy"
          data-link="{% url 'cart_api:item' product.id %}">Buy Buy Buy</button>

  <h2>Rating</h2>
  <p>Average rating:
    {% if product.average_rating %}
      {{ product.get_average_rating_display }}
      ({{ product.average_rating }} points, by {{ product.rating_set.count }} customers)
    {% else %}
      (no rating)
    {% endif  %}
  </p>

  {% if rating_form %}
    <form id="rating" method="POST" action=".">{% csrf_token %}
      {{ rating_form }}
      <button type="submit">Update</button>
    </form>
  {% endif %}

  <h2>Photos</h2>
  <ul>
    {% for photo in product.photo_set.all %}
      {% thumbnail photo.image "128" as im %}
        <a href="{{ photo.image.url }}">
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
            title="{{ photo.description }}"></a>
      {% endthumbnail %}
    {% endfor %}
  </ul>


  <h2>Properties</h2>
  <ul>
    (...)
  </ul>


  <h2>Description</h2>
  <p>{{ product.description }}</p>

{% endblock %}
