{% extends "store/base.html" %}
{% load static %}
{% load bootstrap3 %}

{# The template of all pages which are presented to the vendor.  #}
{% block head %}
  <link href="{% static 'admin.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ISI Store</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'admin:overview' %}">Overview</a></li>
        <li><a href="{% url 'account:password_change' %}">Change Password</a></li>
        <li><a href="{% url 'account:logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="nav-overview"><a href="{% url 'admin:overview' %}">Overview</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="nav-management"><a href="{% url 'admin:category:index' %}">Product management</a></li>
        <li class="nav-product-new"><a href="{% url 'admin:product:create' %}">Add new product</a></li>
        <li class="nav-category-new"><a href="{% url 'admin:category:create' %}">Add new category</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="nav-order-pending"><a href="{% url 'admin:order:pending' %}">Pending orders</a></li>
        <li class="nav-order-on-delivery"><a href="{% url 'admin:order:on-delivery' %}">On-delivery orders</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="nav-order-fulfilled"><a href="{% url 'admin:order:fulfilled' %}">Fulfilled order report</a></li>
        <li class="nav-order-cancelled"><a href="{% url 'admin:order:cancelled' %}">Cancelled order report</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {% block main %}
        {# The main body #}
      {% endblock %}
    </div>

  </div>
</div>

<script src="{% static 'admin.js' %}"></script>
{% endblock %}
